<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script src="{{ url_for('static', filename='js/index.js') }}" type="text/javascript" ></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,1,-50..200" />
    <title>Results</title>
</head>
<body>
    <h1 id="projName">University Admit Eligibility Predictor</h1>
    <div id="pageSection">
        <h1 id="pageTitle">Results</h1>
        <h1 id="resultText">The Possibility of Admission is : </h1>
        <h1 id="probability" style="color:{{color_scheme}}">{{predict}}%</h1>
        <h1 id="comment" style="color:{{color_scheme}}">{{comment}}</h1>
        <form id="feedbackForm" action="{{url_for('sendHomePage')}}" method="POST" >
            <fieldset id="feedback" >
                <div id="feedbackEmoji">
                    <label for="fiveStar">
                        <input type="radio" name="rating" id="fiveStar" value="5" checked >
                        <span class="material-symbols-outlined">
                            sentiment_very_satisfied
                        </span>
                    </label>
                    <label for="fourStar">
                        <input type="radio" name="rating" id="fourStar" value="4" >
                        <span class="material-symbols-outlined">
                            mood
                        </span>
                    </label>
                    <label for="threeStar">
                        <input type="radio" name="rating" id="threeStar" value="3" >
                        <span class="material-symbols-outlined">
                            sentiment_satisfied
                        </span>
                    </label>
                    <label for="twoStar">
                        <input type="radio" name="rating" id="twoStar" value="2" >
                        <span class="material-symbols-outlined">
                            sentiment_dissatisfied
                        </span>
                    </label>
                    <label for="oneStar">
                        <input type="radio" name="rating" id="oneStar" value="1" >
                        <span class="material-symbols-outlined">
                            sentiment_extremely_dissatisfied
                        </span>
                    </label>
                </div>
                <input type="submit" id="feedbackSubmit" class="inputField" name="Submit" value="Submit" />
            </fieldset>
        </form> 
        <form id="returnForm" action="{{url_for('sendHomePage')}}" method="GET" >
            <button id="submitButton" class="inputField">Go Back</button>
        </form>
    </form>
</body>
</html>