<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static' , filename='css/styles.css' )}}" />
    <title>University Admit Eligibility Predictor</title>
</head>
<body>
    <h1 id="projName">University Admit Eligibility Predictor</h1>
    <form id="eligibilityForm" method="POST" action="/predict">
        <div class="inputBox">
            <p class="inputLabel">GRE Score</p>
            <input class="inputField" type="number" name="GREScore" min="260" max="340" value="340" placeholder="260-340" required/>
        </div>
        <div class="inputBox">
            <p class="inputLabel">TOEFL Score</p>
            <input class="inputField" type="number" name="TOEFLScore" min="0" max="120" value="120" placeholder="0-120" required/>        
        </div>
        <div class="inputBox">
            <p class="inputLabel">University Rating</p>
            <input class="inputField" type="number" name="UnivRating" min="0" max="5" value="5" placeholder="0-5" required/>
        </div>
        <div class="inputBox">
            <p class="inputLabel">Statement of Purpose</p>
            <input class="inputField" type="number" name="SOP" min="0" max="5" step="0.5" value="5" placeholder="0-5" required/>
        </div>
        <div class="inputBox">
            <p class="inputLabel">Letter of Recommendation</p>
            <input class="inputField" type="number" name="LOR" min="0" max="5" step="0.5" value="5" placeholder="0-5" required/>
        </div>
        <div class="inputBox">
            <p class="inputLabel">CGPA</p>
            <input class="inputField" type="number" name="CGPA" min="5" max="10" step="0.01" value="10" placeholder="0-10" required/>
        </div>
        <div class="inputBox">
            <p class="inputLabel">Completed a Research</p>
            <input class="inputField" type="checkbox" name="Research" value='done'/>
        </div>
        <div class="inputBox">
            <div class="emptyDiv"></div>
            <button id="submitButton" class="inputField" type="submit">Submit</button>
        </div>
    </form>
</body>
</html>