<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
    <title>Results</title>
</head>
<body>
    <h1 id="projName">University Admit Eligibility Predictor</h1>
    <div id="pageSection">
        <h1 id="pageTitle">Results</h1>
        <h1 id="resultText">The Possibility of Admission is : </h1>
        <h1 id="probability" style="color:{{color_scheme}}">{{predict}}</h1>
        <h1 id="comment" style="color:{{color_scheme}}">{{comment}}</h1>
        <form id="returnForm" action="{{url_for('sendHomePage')}}" method="GET" >
            <button id="submitButton" class="inputField">Go Back</button>
        </form>
    </form>
</body>
</html>